ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=asdfasdfaasdf23dafaeewaefawefasdc3AsdfasA12312S@sadf@dfasdfaSFasd

ZOHO_ADMIN_ROLE_IDS="1797876000000026005"
ZOHO_REP_ROLE_IDS="1797876000271441141"